html
  head
    title Visitantes Recurrentes     
  body
    table
      thead
        tr
          th
            h1 Id                   
          th
            h1 Name               
          th
            h1 Visits 
      tbody
        each visitor in visitors
          tr
            td= visitor._id            
            td= visitor.name        
            td= visitor.count 
